#slides {
    display: flex;
    overflow: hidden;
    
    width: 100vw !important;
    margin: 0;
  }
  
  #slidewrapper {
   /* you need to use calc for math */
    animation: slide 26s ease infinite;
  }
  

.slidesshow-container{
  width: 48vw;
  height: 80vh;
 
}

  .myslidess {
    height: inherit; 
    width:  inherit ;
    padding: 1rem 3.5rem;
    background-color: transparent;
    margin-right: 0px ;
    overflow: hidden;
    position: inherit;
    

  }
  .myslidess.one{
    margin-left: -7em;
    overflow: visible;
  }
  .myslidess.two {
    background-color: transparent;
    height: inherit; 
    width:  inherit ;
    float: left;
  }
  .myslidess.three{
    margin-left: -7em;
    overflow: visible;
  }
 .hh:hover{
  display: block;
}

  .slidesshow-container {
    background: transparent;
    position: relative;
    margin: 0 auto;
  }
  .carousels .prev,
  .carousels .next{
    display: none;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #000000;
    font-weight: bold;
    font-size: 1.25rem;
    transition: 0.6s ease;
    border: none;
    user-select: none;
    left: 0;
  }
  .carousels .next{
    left: unset;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .carousels .prev:hover,  
  .carousels .prev:focus,
  .carousels .next:hover,
  .carousels .next:focus{
    background-color: rgba(0,0,0,0.4);
    color: #fff;
  }
  .carousels .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
 
  @-webkit-keyframes fade{}
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
 
  
  .landingphoto {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
  }


  .portfolio-container img{
    
      display: grid !important;
      grid-template-columns: repeat(4, 1fr) !important;
      grid-gap: 10px !important;
  }

  

  
  @keyframes slide {
    10% {
      margin-left: 0;
    }
    20% {
      margin-left: -100%;
    }
    30% {
      margin-left: -200%;
    }
    40% {
      margin-left: -300%;
    }
    50% {
      margin-left: -400%;
    }
    60% {
      margin-left: -500%;
    }
    70% {
      margin-left: -600%;
    }
    80% {
        margin-left: -700%;
      }
      90% {
        margin-left: -800%;
      }
  }